* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    padding-top: 0;
    margin: 0;
}
p, span {
    font-size: 14px;
}

.likes-section {
    margin-top: 20px;
}
.common-icon {
    display: flex;
    background-color: white;
    position: relative;
    z-index: 1;
}
.common-icon:before {
    background-color: #f6f6f6;
    content: "";
    width: var(--beforeWidth, 210px);
    height: 50px;
    border-radius: 30px;
    position: absolute;
    top: 4px;
    left: 8px;
    border: var(--beforeBorder, 0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}
.common-icon:hover:before {
    opacity: 0.5;
}
.common-icon:hover {
    cursor: pointer;
}
.search-box, .notification-box {
    display: none;
    position: fixed;
    width: 405px;
    height: 100%;
    background: white;
    border-radius: 17px;
    /*display: flex;*/
    border-right: 1px solid #DBDBDB;
    box-shadow: 5px 5px 15px #d3d3d3a1;
    z-index: 95;
    margin-left: 66px;
}
#search-title, #notification-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.search-result {
    height: 100%;
    border-top: 1px solid #DBDBDB;
}
.notification-info {
    border-top: 1px solid #DBDBDB;
}
