* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    padding-top: 0;
    margin: 0;
}
p, span {
    font-size: 14px;
}

.likes-section {
    margin-top: 20px;
}
#nav-profile a {
    margin-top: 30px;
    margin-left: 20px;
}
#nav-profile img {
    width: 28px;
    height: 28px;
}
#nav-profile span {
    margin-top: 35px;
    margin-left: 15px;
    font-size: 15px;
}