<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/common :: head('Instargram')"></head>
<body>
<head th:replace="layout/common :: menu('menu')"></head>
<main class="main">
  <!--업로드 상세 정보 모달-->
  <div class="modal-upload" id="modal-upload">
    <div class="upload" id="modal-upload-size">
      <div class="upload-main-block" id="uploadPostInfoModal"></div>
    </div>
  </div>
  <div class="mains">
    <h3>알림</h3>
    <div class="containers">
      <ul class="recommend-list" id="notification-list">
        <!-- 알림 정보 표시 -->
        <!-- 알림 정보 표시 끝-->
      </ul>
    </div>
    <footer th:replace="layout/common :: footer('footer')"></footer>
  </div>
</main>
<script src="/js/profile.js"></script>
</body>
</html>