<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/common :: head('Instargram')"></head>
<body>
<head th:replace="layout/common :: menu('menu')"></head>
<head th:replace="layout/common :: search-box('search-box')"></head>
<head th:replace="layout/common :: notification-box('notification-box')"></head>
<!--프로필 섹션-->
<main class="profile_main">
  <section class="profile" id="profile-section">
    <!--유저정보 컨테이너-->
    <div class="profileContainer">
      <!--유저 이미지-->
      <div class="profile-left">
        <div class="profile-img-wrap story-border">
          <form id="userProfileImageForm">
            <input type="file" name="profileImageFile" style="display: none;" id="userProfileImageInput" />
          </form>
          <img class="profile-image" th:src="@{${'/profile_imgs/' + findUserDto.imageUrl}}" onerror="this.src='/img/default_profile.jpg';"/>
        </div>
      </div>
      <!--유저 이미지 end-->
      <!--유저정보 및 사진등록 구독하기-->
      <div class="profile-right">
        <div class="name-group" >
          <h2 style="font-size: 1.2em; margin-top: 25px; margin-bottom: 20px" th:text="${findUserDto.name}"></h2>
          <button class="cta" id="edit-button" th:if="${findUserDto.login}" onclick="location.href='/user/update'">프로필 편집</button>
          <span></span>
          <button class="follow-btn cta" th:if="!${findUserDto.login} and !${findUserDto.follow}" th:onclick="|toggleSubscribe(${findUserDto.id}, this)|">팔로우</button>
          <button class="follow-btn cta" th:if="!${findUserDto.login} and ${findUserDto.follow}" th:onclick="|toggleSubscribe(${findUserDto.id}, this)|">팔로잉</button>
          <button class="modi" th:if="${findUserDto.login}" onclick="popup('.modal-info')">
            <i class="fas fa-cog"></i>
          </button>
        </div>

        <div class="subscribe">
          <ul>
            <li>게시물 <span style="font-weight: bold;" th:text="${findUserDto.postCount}" ></span></li>
            <li><a class="follow" th:onclick="|followerInfoModalOpen(${findUserDto.id})|" style="text-decoration:none">팔로워 </a><span style="font-weight: bold;" th:text="${findUserDto.followerCount}" ></span>
            <li><a class="follow" th:onclick="|followingInfoModalOpen(${findUserDto.id})|" style="text-decoration:none">팔로잉 </a><span style="font-weight: bold;" th:text="${findUserDto.followingCount}" ></span>
          </ul>
        </div>
        <div class="state">
          <h4 th:text="${findUserDto.username}"></h4>
          <div class="description-class" th:text="${findUserDto.description}">DESCRIPTION TEXT</div>
          <a class="profile-link" th:href="${findUserDto.link}" th:text="${findUserDto.link}"></a>
        </div>
      </div>
      <!--유저정보 및 사진등록 구독하기 end-->
    </div>
  </section>
  <div class="profile-post-btn">
    <div class="post-btn" th:onclick="|postModeToList()|">
      <img src="/img/grid.png" id="grid-img" alt="그리드"/>
      <span class="post-btn-text" id="post-text-list">게시물</span>
    </div>
    <div class="post-like-btn" th:onclick="|postModeToLike()|">
      <img src="/img/heart-gray.png" id="heart-img" alt="하트"/>
      <span class="post-btn-text" id="post-text-like">좋아요</span>
    </div>
  </div>
  <!-- 게시물 수정 모달 -->
  <div class="modal-edit" id="modal-edit" style="z-index: 110;">
    <div class="model-edit-post" id="model-edit-post">
      <div class="upload-main-block" id="editPostModal"></div>
    </div>
  </div>
  <!--게시물 섹션-->
  <section id="tab-content">
    <!--게시물 컨테이너-->
    <div class="profileContainer" id="profile-container-post">
      <!--그냥 감싸는 div (지우면 이미지 커짐)-->
      <div id="tab-1-content" class="tab-content-item show">
        <!--게시물컨 그리드 배열-->
        <div class="tab-1-content-inner">
          <!--아이템들-->
          <div class="img-box" th:each="post : ${findUserDto.posts}" th:onclick="|postPopup(${post.id}, '.modal-post')|">
            <img th:src="@{${'/upload/' + post.imageUrl}}" />
            <div class="comment">
              <a> <i class="fas fa-heart"></i><span th:text="${post.likeCount}"></span></a>
            </div>
          </div>
          <!--아이템들 end-->
        </div>
      </div>
    </div>
    <!--좋아요 게시물 컨테이너-->
    <div class="profileContainer" id="profile-container-like">
      <!--그냥 감싸는 div (지우면 이미지 커짐)-->
      <div id="tab-2-content" class="tab-content-item show">
        <!--게시물컨 그리드 배열-->
        <div class="tab-1-content-inner">
          <!--아이템들-->
          <div class="img-box" th:each="post : ${likePostDtos}" th:onclick="|postPopup(${post.id}, '.modal-post')|">
            <img th:src="@{${'/upload/' + post.postImgUrl}}" />
            <div class="comment">
              <a> <i class="fas fa-heart"></i><span th:text="${post.likeCount}"></span></a>
            </div>
          </div>
          <!--아이템들 end-->
        </div>
      </div>
    </div>
  </section>

  <!--로그아웃, 회원정보 변경 모달-->
  <div class="modal-info">
    <div class="modal">
      <button onclick="location.href='/user/update'">회원정보 변경</button>
      <button onclick="popup('.user-quit-modal')">회원탈퇴</button>
      <button onclick="location.href='/logout'">로그아웃</button>
      <button onclick="closePopup('.modal-info')">취소</button>
    </div>
  </div>
  <!--로그아웃, 회원정보 변경 모달 end-->

  <!-- 회원탈퇴 모달-->
  <div class="user-quit-modal" style="z-index: 110;">
    <div class="modal" style="width:350px;">
      <form th:action="@{/user/delete}" id="user-delete-form" th:method="delete">
        <div style="border-bottom: 1px solid #dbdbdb;">
          <div style="margin-top: 10px; font-weight: bold;">정말로 삭제하시겠습니까?</div>
          <div style="margin-bottom: 10px;">삭제된 정보는 복구할 수 없습니다.</div>
        </div>
        <button type="submit" style="border-right: 1px solid #dbdbdb;">삭제</button>
        <button type="button" onclick="closePopup('.user-quit-modal')">취소</button>
      </form>
    </div>
  </div>
  <!--회원탈퇴 모달 end-->

  <!--게시물 설정 모달-->
  <div class="post-edit-modal-info" style="z-index: 110;">
    <div class="modal" style="width: 300px;">
      <button onclick="editPostPopup('.modal-edit'), closePopup('.post-edit-modal-info')">수정</button>
      <button onclick="deletePost(), reloadPage()">삭제</button>
      <button onclick="closePopup('.post-edit-modal-info')">취소</button>
    </div>
  </div>
  <!--게시물 설정 모달 end-->

  <!--업로드 상세 정보 모달-->
  <div class="modal-upload" id="modal-upload">
    <div class="upload" id="modal-upload-size">
      <div class="upload-main-block" id="uploadPostInfoModal"></div>
    </div>
  </div>

  <!--포스트 상세 정보 모달-->
  <div class="modal-post" id="modal-post">
    <div class="subscribe">
      <div class="subscribe-list" id="postInfoModal"></div>
    </div>
  </div>
  <!--포스트 상세 정보 모달 end-->

  <!--프로필사진 바꾸기 모달-->
  <div class="modal-image" >
    <div class="modal">
      <p>프로필 사진 바꾸기</p>
      <button >사진 업로드</button>
      <button >취소</button>
    </div>
  </div>
  <!--프로필사진 바꾸기 모달 end-->

  <div class="modal-follower">
    <div class="subscribe">
      <div class="subscribe-header">
        <span>팔로워</span>
        <button class="exit" onclick="modalClose()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="subscribe-list" id="followerModalList"></div>
    </div>
  </div>

  <div class="modal-following">
    <div class="subscribe">
      <div class="subscribe-header">
        <span>팔로잉</span>
        <button class="exit" onclick="modalClose()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="subscribe-list" id="followingModalList"></div>
    </div>
  </div>

  <div class="modal-likes">
    <div class="subscribe">
      <div class="subscribe-header">
        <span>좋아요</span>
        <button class="exit" onclick="closePopup('.modal-likes')">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="subscribe-list" id="likesOfPostModalList"></div>
    </div>
  </div>

  <div id="#mask"></div>
  <footer th:replace="layout/common :: footer('footer')"></footer>
</main>
<script src="/js/profile.js" th:inline="javascript">
</script>
</body>
</html>